extends layout

block content
  h1 Shouts Management
  form#formAddShout(name="addshout", method="post", action="/addshout")
    div
      label User Name
      select(name="username")
        each user, i in users
          option(value="#{user.username}") #{user.username}
      br
      div
        textarea(name="body", placeholder="Shout something!", cols="50", rows="5")
      br
      div
        input#btnSubmit(type="submit") Submit
  br
  div#link
  script.
    if (document.location.pathname.length > 8){
      var shoutsUrl = document.createElement('a');
      shoutsUrl.innerText = 'Back to Shouts';
      shoutsUrl.href = '/shouts';

      var userUrl = document.createElement('a');
      userUrl.innerText = 'User Info (#{shouts[0].username})';
      userUrl.href = '/user/#{shouts[0].username}';

      var link = document.getElementById('link');
      link.appendChild(shoutsUrl);
      link.appendChild(document.createElement('br'));
      link.appendChild(userUrl);
    } else {
      var p = document.createElement('p');
      p.innerText = 'There are: #{shouts.length} shout(s)';
      document.getElementById('link').appendChild(p);
    }
  ul
    each shout, i in shouts
      li <strong>
        a(href="/shouts/#{shout.username}") #{shout.username} </strong>
        | #{shout.body}
        a(href="#", class="deleteshout", data-shout-id="#{shout.shout_id}", data-username="#{shout.username}") ( delete )
